{% extends "admin/nav.html"  %}

{% block gx  %}
<div id="container" style="background-color:#eee;height: 650px;width:100%;border-button:2px solid red">
<div style="width:14%;height:650px;border:2px solid #a1a1a1;float:left;border-radius:5px" class="left">
<p style="color:palegreen;text-align:center;font-size:30px;magin-top:100px;">功能区</p>
</div>
<div style="width:86%;height:650px;float:left;magin-left:5px" class="right">
<p style="color:palegreen;text-align:center;font-size:30px;magin-top:100px;">内容展示区</p>
</div>
</div>
{% endblock %}
