<!doctype html>
<html> 
   <title>upload file</title>
   <head>
   	<style>
   		body{
   			height:1200px;
   			width: 100%;
   		}
   		#top{
   			width: 100%;
   			height: 50px;
   			background-color: #C4C6CA;
   		}
   		#left{
   			background-color:  #C4C6CA;
   		}
   	</style>
   </head>


	<frameset cols="14%,*" bordercolor="white" border="1px" >
  <frame src="http://120.77.87.72:828/h/h1.html" id="left"/>
  <frame  src="https://www.bilibili.com" name="right"/>
</frameset>
    
    
    

</html>
