<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
		<meta charset="UTF-8">
		<title>删除主机</title>
	</head>
	<body>
		<h1>删除主机</h1>
		<form action="host_del" method="post">
       		 	<!--<input id="hostname" type="text" name="hostname" placeholder="主机名称" />
        		<a href="http://120.77.87.72/host_add" target="_blank"><button id="t">添加主机</button></a>
        		<form action="host_del">
        		<input type="button" value="确认" id="del">-->
        		<input type="search" placeholder="请输入主机IP或主机名" name="host">
        		<input type="submit" value="搜索">
		</form>
	</body>
</html>
