<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
		<meta charset="UTF-8">
		<title>修改主机</title>
		<script>
			function del_host(){
				var request;
				request=new XMLHttpRequest();
				request.open("POST","/modify_host",true);
				request.setRequestHeader("Content-Type","application/x-www-form-urlencoded;charset=utf-8");
				data=document.getElementById("id").innerText;
				var g=window.confirm("是否确认修改主机！！");
				if (g){
					request.send(data);
				}
				else {
					window.alert("已取消");
					return false;
				     }
				request.onreadystatechange = function(){
					if (request.readyState == 4 && request.status == 200){
						var result=document.getElementById("ip").innerText;
						alert("主机--"+result+" 修改成功");
					}
				}
			}
			/*function host_del(){    
        			form=document.getElementById("del_host");  
        			form.action="/del_host";  
        			form.method="post";  
        			form.submit();
				alert("主机删除成功");  
    					}*/  
		</script>
	</head>
	<body>
		<h1>修改主机</h1>
		<form action="/host_modify" method="post" id="del_host">
       		 	<!--<input id="hostname" type="text" name="hostname" placeholder="主机名称" />
        		<a href="http://120.77.87.72/host_add" target="_blank"><button id="t">添加主机</button></a>
        		<form action="host_del">
        		<input type="button" value="确认" id="del">-->
        		<input type="search" placeholder="请输入主机IP或主机名" name="host">
        		<input type="submit" value="搜索">
		</form>

		{% if result != '' and result != 'default' %}   
                <p style="text-align: center;">主机信息</p>
                <hr style="color: aquamarine;">
                <br>
		<form action="/modify_host" method="post">
		<span>id:</span>
		<input name="id" value="{{ result['id'] }}" readonly="readonly" style="border:none;background-color:transparent;">
		<br>
		<span>主机名:</span>
                <input name="hostname" value="{{ result['hostname'] }}">
		<br>
		<span>IP:</span>
                <input name="ip" value="{{ result['ip'] }}">
		<br>
		<span>ROOT密码:</span>
                <input name="passwd_root" value="{{ result['passwd_root'] }}">
		<br>
		<span>数据库密码:</span>
                <input name="passwd_db" value="{{ result['passwd_db'] }}">
		<br>
		<span>ssh端口:</span>
                <input name="ssh_port" value="{{ result['ssh_port'] }}">
		<br>
		<span>其他信息:</span>
                <input name="other" value="{{ result['other'] }}">
		<br>
		<hr>
		<a href="http://120.77.87.72/host_query"><button id="qx" style="float:right;margin:2px">取消</button></a>
		<input type="submit" value="确认修改" style="color: #ED1C24;float: right;">
		<!-- <button onclick="modify_host()" style="color:red;float:right;margin:2px">修改主机</button> -->
		</form>
		{% elif result == 'default' %}
		<br>
		{% else %}
		<p style="color:red">主机不存在!</p>
		{% endif %}
	</body>
</html>

