<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>导航页</title>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<style>
			a {
				font-size: x-large;
				color: cadetblue;
				border: 1px solid  #CFD5D9;
				background-color: #C8C8C8;
			}
		</style>
	</head>
	<body>
		<a href="http://120.77.87.72/html5/3DFire" target="_blank">3DFire</a>
		<br>
		<a href="http://120.77.87.72/html5/paomo" target="_blank">paomo</a>
		<br>
		<a href="http://120.77.87.72/html5/3DFlower" target="_blank">3DFlower</a>
		<br>
		<a href="http://120.77.87.72/html5/shaizi" target="_blank">shaizi</a>
		<br>
		<a href="http://120.77.87.72/html5/tree" target="_blank">tree</a>
		<br>
		<a href="http://120.77.87.72/html5/pac-man" target="_blank">pac-man</a>
	</body>
</html>
