<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>My 21L girl </title>
		<link rel="icon" href="test.png" type="image/gif/png">
	</head>
	
	<style>
		body {
			background-color: cornsilk;
		}
		a {
			color: cornflowerblue;
		}
		ol li{
			list-style-type :none;
			font-size: 30px;
		}
		
	</style>
	<body>
		<br>
		<br>
		<hr color="aqua">
		<em>hello</em>
		<b>wo</b>
		<big>ni</big>
		<hr>
		<font color="crimson">font</font>
		<br>
		<i>斜的</i>
		<br>
		<font color="aqua"><center>center</center></font>
		<hr>
		<a target="_blank" href="https://www.bilibili.com"><font color="aquamarine">Bilibili</font></a>
		
	<form action="form" method="post">
  	<input type="text" value="" placeholder="用户名" id="username" maxlength="50" height="3px" class="">
  	<div style="height: 20px;"></div>
  	<input type="password" value="" placeholder="密码" id="passwd" maxlength="50" autocomplete="off" class="">
  	<br />
  	<input type="submit" value="登录" border="1" />
    </form>
	
	<ol>
		<li><a href="https://www.baidu.com" target="_blank">a</a></li>
		<li>b</li>
		<li>c</li>
		<li>d</li>
		<li>e</li>
		<li>f</li>
	</ol>
	
	</body>
</html>
